/a.out
/pagerank
/.vscode
adjacence
data/email.txt
data/gplus_combined.txt
data/p2p-Gnutella25.txt
data/p2p-Gnutella31.txt
data/soc-pokec-relationships.txt
data/soc-redditHyperlinks-body.tsv
data/web-NotreDame.txt
